

<mat-toolbar color="primary"> 
    
    <button class="btnn" mat-raised-button   color="accent" (click)="toStudentList()">Student List</button>  &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btnn" mat-raised-button  color="accent"  (click)="toAddStudent()">Add Student</button>  &nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <button mat-raised-button  color="accent">User List</button>  &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="accent" >Directives</button> &nbsp;&nbsp;&nbsp;&nbsp; -->
   </mat-toolbar>
